/*LOADER*/

.screen_loader {
	background: white;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    animation: fadeout 3s ease-in-out forwards;
}

@keyframes fadeout {
  from {
    visibility: visible;
    opacity: 1;
  }

 to {
    visibility: hidden;
    opacity: 0;
  }
}

.fa-spinner {
	color: #9356DC;
	font-size: x-large;
	animation: rotation 2s infinite linear;
}

.fa-spinner:nth-child(2) {
	color: #FF79DA;
	font-size: x-large;
}

.fa-spinner:nth-child(3) {
	color: #99E2D0;
	font-size: x-large;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*GENERAL*/


h1 {
	font-family: 'Shrikhand', cursive;
}

* {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

h2 {
	margin: 30px;
}

p, h3 {
	margin: 2px;
}

.image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/*BODY*/

body {
	margin: 0;
}

section {
	display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
    background-color: #F6F6F6;
}

header {
	display: flex;
	position: relative;
}

a .fa-arrow-left {
	margin: 45px 0 0 30px;
	text-decoration: none;
	color: black;
}

header i::before {
	position: absolute;
}

header h1 {
	margin: auto;
	padding: 25px;
}

/*FORM*/

#search {
	display: flex;
	justify-content: center;
	background-color: #eeeeee;
	align-items: center;
	height: 50px;
	box-shadow: inset 0 0.2em rgba(0, 0, 0, 0.5);
}

#search input {
	border-style: none;
	background-color: #eeeeee;
	padding-left: 10px;
	text-align: center;
	font-size: medium;
}

/*EXPLORE*/

#explore {
	background-color: #F6F6F6;
}

#explore h2, #explore p {
	text-align: center;
}

.button {
	padding: 15px;
	border-radius: 25px;
    background: linear-gradient(355deg, #9356DC, #FF79DA);
    border: none;
    color: white;
	display: flex;
	margin: auto;
	margin-top: 20px;
}

.button:hover {
	background: linear-gradient(355deg, #986eca, #f6a7e0);
	box-shadow: 0 1px 2px 1px rgb(207 201 201);
}

/*FONCTIONS*/

ol {
	width: 90%;
	padding-left: 25px;
}

li {
	background-color: #F6F6F6;
	box-shadow: 0 1px 2px 1px rgb(207 201 201);
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: left;
	align-items: center;
}

li .number {
	color: white;
	background-color: #9356DC;
	width: 25px;
	height: 25px;
	border-radius: 60px;
	text-align: center;
	line-height: 25px;
	left: 10px;
	position: absolute;
}

li i {
	padding-right: 25px;
	align-self: center;
}

li:hover {
	background-color: #E6E6FA;
}

@media screen and (min-width: 767px) {
	
	ol { 
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
	gap: 20px;
	}

	li .number {
		position: relative;
		left: -30px;
		width: 25px;
		height: 25px;
	}
}


/*RESTAURANTS*/

#restaurants_list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.conteneur_restaurants {
    border-radius: 20px;
    background-color: white;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 80%;
    max-width: 550px;
    box-shadow: 0 1px 2px 1px rgb(207, 201, 201);
    position: relative;
}

.conteneur_restaurants:hover {
	transform: scale(1.02);
}

#restaurants_list .image {
    border-radius: 20px 20px 0 0;
}

.nouveau {
	background-color: #99E2D0;
	color: #375d35;
	border: #375d35 solid 2px;
	border-radius: 5px;
	position: absolute;
	right: 5px;
    padding: 10px;
    margin: 20px;
}

.text {
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	color: black ;
	margin: 5px 25px 5px 25px;
}

.titles {
	display: flex;
	flex-direction: column;
	line-height: 1;
	justify-content: space-around;
}

.heart_icon {
	position: relative;
    align-self: center;
    text-align: center;
    width: 36px;
    height: 32px;
    overflow: hidden;
}

.titles .fa-heart {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.heart_icon:hover .far {
	display: none;
}

.heart_icon:hover .fa-heart {
	background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	animation: show .5s ease-in-out;
    animation-fill-mode: backwards;
    transition: all .2s ease-in-out;
}

@keyframes opacity {
	0% {
    opacity: 0;
}
50% {
    opacity: .5;
    transform: scale(1.1);
}
100% {
    opacity: 1;
    transform: scale(1);
}
}


@media screen and (min-width: 767px) {
	
	#restaurants_list {
		display: flex;
		flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: space-around;
    	gap: 50px;
	}
}

/*MENU*/

.menu {
	background-color: #F6F6F6;
	border-radius: 20px 20px 0 0;
}

.name {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 20px 20px 0 0;
	margin-top: -50px;
	background-color: #F6F6F6;
}

.name h1 {
	margin-left: 30px;
}

.name .heart_icon {
	position: relative;
    align-self: center;
    width: 32px;
    height: 32px;
    overflow: hidden;
    right: 30px;
}

.liste {
	display: flex;
	flex-direction: column;
	margin: 30px;
}

.liste h2 {
	font-weight: lighter;
	margin: 0 0 5px 0;
}

.ligne_liste {
	background-color: #99E2D0;
	height: 5px;
	width: 60px;
	margin: 0 0 30px 0;
}

.conteneur_liste {
	display: flex;
	flex-direction: column;
}

.element_liste {
	display: flex;
	flex-direction: row;
	background-color: white;
	box-shadow: 0 1px 2px 1px rgb(207 201 201);
	border-radius: 20px;
	margin-bottom: 20px;
	animation: show .5s ease-in-out;
    animation-fill-mode: backwards;
    transition: all .2s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.element_liste:nth-child(2) {
	animation-delay: 0.3s;
}

.element_liste:nth-child(3) {
	animation-delay: 0.6s;
}

.element_liste:nth-child(4) {
	animation-delay: 0.9s;
}

@keyframes show {
	0% {
    opacity: 0;
}
50% {
    opacity: .5;
    transform: scale(1.1);
}
100% {
    opacity: 1;
    transform: scale(1);
}
}

.element_texte {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 12px;
	align-items: flex-end;
	min-width: calc(100% - 24px);
	transition: 0.5s ease;
}

.element_menu {
	overflow: hidden;
	white-space: nowrap;
}

.element_menu p, h3 {
	text-overflow: ellipsis;
	overflow: hidden;
}

.element_liste:hover .element_texte {
	min-width: calc(100% - 104px);
}

.element_check {
	display: flex;
	justify-content: center;
	height: 71px;
	width: 80px;
	background-color: #99E2D0;
	border-radius: 0 20px 20px 0;
    transition: 0.5s ease;
}

.fa-circle-check {
	filter: invert(100%);
	align-self: center;
	font-size: x-large;
	transform: rotate(360deg);
	transition: 0.4s ease-in-out;
	transition-delay: 0.4s;
}

.element_liste:hover .element_check .fa-circle-check {
  transform: rotate(0deg);
}

@media screen and (min-width: 992px) {
	
	.listes {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.liste {
		width: 100%;
	}
}

.menu .button {
	font-size:  large;
}

/*FOOTER*/

footer {
	background-color: #353535;
	padding: 20px;
}

footer .iconetexte {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 10px;
}

footer h1, footer a {
	display: flex;
	flex-direction: column;
	color: white;
	margin-left: 40px;
}

footer p {
	margin: 2px;
}

